/* Estilo para el modal de pantalla completa */
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.fullscreen-content {
    max-width: 90%;
    max-height: 90%;
  }
  
.fullscreen-content img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}
/* Estilo para las miniaturas en el carrusel */
.swiper-container img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.swiper-container img:hover {
  transform: scale(1.05);
}
/* styles/slider.css */

/* Personalización de las flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #FF7D5C; /* Cambia el color de las flechas */
  border-radius: 50%; /* Hace que el fondo sea circular */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Transición suave */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.35); /* Cambia el fondo al pasar el mouse */
  backdrop-filter: blur(0.5rem);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Tamaño del ícono de la flecha */
  font-weight: bold; /* Grosor del ícono */
}

/* styles/slider.css */

/* Personalización de los puntos de paginación */
.swiper-pagination-bullet {
  width: 12px; /* Ancho del bullet */
  height: 12px; /* Alto del bullet */
  background-color: #ccc; /* Color de fondo del bullet */
  opacity: 1; /* Opacidad del bullet */
  margin: 0 5px; /* Espacio entre bullets */
  transition: background-color 0.3s ease; /* Transición suave */
}

.swiper-pagination-bullet-active {
  background-color: #FF7D5C; /* Color de fondo del bullet activo */
}