---
---

<section class="w-full max-w-6xl flex flex-wrap items-center justify-center mx-auto gap-8 px-16 my-8">

    <img class="h-56 w-56 rounded-full shadow-sm" src="/assets/profile.jpeg"/>
    <div class="max-w-80 border-2 border-gray-400 dark:border-zinc-700 rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">¡Hola! me llamo</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Alejandro Sánchez</h1>
        <p class="text-sm text-gray-400">Soy ingeniero de software de Cuba, con muchas ansias y deseos de crecer profesionalmente. Amo desarrollar proyectos desafiantes que me impulsan a aprender cada vez más.</p>
    </div>
    <div class="max-w-72 border-2 border-gray-400  dark:border-zinc-700  rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">Actualmente trabajo como</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Freelancer</h1>
        <p class="text-sm text-gray-400">
            Desarrollando sistemas con el fin de solucionar problemas a presonas, empresas y todo el que lo necesite,
            sin importar las tecnologías que sea de su necesidad. Lo realmente importante es darle la solución al problema.
        </p>
    </div>
</section>