---
import '../styles/animation.css'
---

<section id="about" class="w-full max-w-6xl flex flex-wrap items-center justify-center mx-auto gap-8 px-16 my-8">

    <img class="h-56 w-56 rounded-full shadow-sm slide-up delay-1" src="/assets/profile.jpeg"/>
    <div class="slide-up delay-2 max-w-80 border-2 border-gray-400 dark:border-zinc-700 rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">¡Hola! me llamo</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Alejandro Sánchez</h1>
        <p class="text-sm text-gray-400">Soy un ingeniero de software cubano con un gran entusiasmo y deseos de crecer profesionalmente. Me apasiona desarrollar proyectos desafiantes que me impulsan a aprender constantemente y superarme cada día.</p>
    </div>
    <!-- <div class="slide-up delay-3 max-w-80 border-2 border-gray-400  dark:border-zinc-700  rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">Actualmente trabajo como</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Freelancer</h1>
        <p class="text-sm text-gray-400">
            Desarrollando sistemas con el objetivo de resolver problemas para personas, empresas y cualquier persona que lo necesite, sin importar las tecnologías requeridas. Para mí, lo realmente importante es brindar la solución adecuada al problema, adaptándome a las necesidades específicas de cada proyecto y asegurando resultados efectivos y de calidad.
        </p>
    </div> -->
</section>