---
import '../styles/animation.css'
---

<!-- <section id="about" class="w-full max-w-6xl flex flex-wrap items-center justify-center mx-auto gap-8 px-16 my-8">

    <img class="h-56 w-56 rounded-full shadow-sm slide-up delay-1" src="/assets/profile.jpeg"/>
    <div class="slide-up delay-2 max-w-80 border-2 border-gray-400 dark:border-zinc-700 rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">¡Hola! me llamo</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Alejandro Sánchez</h1>
        <p class="text-sm text-gray-400">Ingeniero Informático con gran motivación y deseos de crecimiento profesional. Me apasiona el diseño y desarrollo web, abarcando desde la creación de interfaces atractivas hasta garantizar su eficiencia y el cumplimiento de los principios de usabilidad y experiencia de usuario.</p>
    </div>
    <div class="slide-up delay-3 max-w-80 border-2 border-gray-400  dark:border-zinc-700  rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">Actualmente trabajo como</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Freelancer</h1>
        <p class="text-sm text-gray-400">
            Desarrollando sistemas con el objetivo de resolver problemas para personas, empresas y cualquier persona que lo necesite, sin importar las tecnologías requeridas. Para mí, lo realmente importante es brindar la solución adecuada al problema, adaptándome a las necesidades específicas de cada proyecto y asegurando resultados efectivos y de calidad.
        </p>
    </div>
</section> -->

<section id="about" class="w-full max-w-6xl flex flex-wrap items-center justify-center mx-auto gap-8 px-16 my-8">

    <img class="h-56 w-56 rounded-full shadow-sm slide-up delay-1" src="/assets/profile.jpeg"/>
    <div class="slide-up delay-2 max-w-80 border-2 border-gray-400 dark:border-zinc-700 rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">Hi! My name is</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Alejandro Sánchez</h1>
        <p class="text-sm text-gray-400">
            Computer Engineer with strong motivation and a desire for continuous professional growth. I am passionate about web design and development, covering everything from creating visually appealing interfaces to ensuring efficiency, usability principles, and an optimal user experience.
        </p>
    </div>
    <!--
    <div class="slide-up delay-3 max-w-80 border-2 border-gray-400 dark:border-zinc-700 rounded-lg flex flex-col gap-2 p-4 shadow-sm">
        <p class="text-sm tracking-tighter text-gray-400">Currently working as</p>
        <h1 class="font-bold text-3xl w-full text-right text-gray-50">Freelancer</h1>
        <p class="text-sm text-gray-400">
            Developing systems with the goal of solving problems for individuals, companies, and anyone who needs it, regardless of the technologies required. For me, what truly matters is delivering the right solution to each problem, adapting to the specific needs of every project and ensuring effective, high-quality results.
        </p>
    </div>
    -->
</section>
