---
// src/layouts/BaseLayout.astro
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/animation.css">
  <link rel="icon" type="image/svg+xml" href="/icon.svg" />
</head>
<body class="text-gray-800 bg-[#171717]">
  <header class="top-0 left-0 right-0 fixed text-gray-100 flex backdrop-blur-xl bg-[#17171773] min-h-16 py-2 z-[999] transition-all">
    <nav class="container max-w-7xl mx-auto flex justify-between items-center px-4">
      <div class="">
        <div id="scroll-div" class="hidden">
          <div class="flex flex-row items-center gap-4 ">
            <img class="hidden sm:flex w-12 h-12 rounded-full shadow-sm" src="assets/profile.jpeg">
            <div class="hidden sm:flex flex-col justify-start ">
              <div class="text-lg font-bold">AleXRD</div>
              <a class="text-sm font-light text-gray-400 hover:text-[#FF7D5C] transition-colors "target="_blank" href="mailto:alesgxrd@gmail.com">alesgxrd@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <ul class="flex space-x-4 ">
        <li><a href="#about" class="hover:text-[#FF7D5C] transition-colors">About me</a></li>
        <li><a href="#projects" class="hover:text-[#FF7D5C] transition-colors">Projects</a></li>
        <p>|</p>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://wa.me/95984381693">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01"/></svg>
        </a>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://github.com/AleSGXRD">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0a12 12 0 1 0 0 24a12 12 0 0 0 0-24m3.163 21.783h-.093a.5.5 0 0 1-.382-.14a.5.5 0 0 1-.14-.372v-1.406q.01-.701.01-1.416a3.7 3.7 0 0 0-.151-1.028a1.83 1.83 0 0 0-.542-.875a8 8 0 0 0 2.038-.471a4.05 4.05 0 0 0 1.466-.964c.407-.427.71-.943.885-1.506a6.8 6.8 0 0 0 .3-2.13a4.1 4.1 0 0 0-.26-1.476a3.9 3.9 0 0 0-.795-1.284a2.8 2.8 0 0 0 .162-.582q.05-.3.05-.604q0-.392-.09-.773a5 5 0 0 0-.221-.763a.3.3 0 0 0-.111-.02h-.11q-.346.004-.674.111a5 5 0 0 0-.703.26a7 7 0 0 0-.661.343q-.322.191-.573.362a9.6 9.6 0 0 0-5.143 0a14 14 0 0 0-.572-.362a6 6 0 0 0-.672-.342a4.5 4.5 0 0 0-.705-.261a2.2 2.2 0 0 0-.662-.111h-.11a.3.3 0 0 0-.11.02a6 6 0 0 0-.23.763q-.08.382-.081.773q0 .304.051.604t.16.582A3.9 3.9 0 0 0 5.702 10a4.1 4.1 0 0 0-.263 1.476a6.9 6.9 0 0 0 .292 2.12c.181.563.483 1.08.884 1.516c.415.422.915.75 1.466.964c.653.25 1.337.41 2.033.476a1.8 1.8 0 0 0-.452.633a3 3 0 0 0-.2.744a2.75 2.75 0 0 1-1.175.27a1.8 1.8 0 0 1-1.065-.3a2.9 2.9 0 0 1-.752-.824a3 3 0 0 0-.292-.382a2.7 2.7 0 0 0-.372-.343a1.8 1.8 0 0 0-.432-.24a1.2 1.2 0 0 0-.481-.101q-.06.002-.12.01a.7.7 0 0 0-.162.02a.4.4 0 0 0-.13.06a.12.12 0 0 0-.06.1a.33.33 0 0 0 .14.242q.14.111.232.171l.03.021q.2.155.382.333q.169.148.3.33q.136.178.231.381q.11.2.231.463c.188.474.522.875.954 1.145c.453.243.961.364 1.476.351q.262 0 .522-.03q.258-.041.515-.091v1.743a.5.5 0 0 1-.533.521h-.062a10.286 10.286 0 1 1 6.324 0z"/></svg>
        </a>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://www.linkedin.com/in/alesgxrd">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256"><path fill="currentColor" d="M216 20H40a20 20 0 0 0-20 20v176a20 20 0 0 0 20 20h176a20 20 0 0 0 20-20V40a20 20 0 0 0-20-20m-4 192H44V44h168Zm-100-36v-56a12 12 0 0 1 21.43-7.41A40 40 0 0 1 192 148v28a12 12 0 0 1-24 0v-28a16 16 0 0 0-32 0v28a12 12 0 0 1-24 0m-16-56v56a12 12 0 0 1-24 0v-56a12 12 0 0 1 24 0M68 80a16 16 0 1 1 16 16a16 16 0 0 1-16-16"/></svg>
        </a>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://www.instagram.com/alesgxrd14/">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="-2 -2 24 24"><g fill="currentColor"><path d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0 5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0m3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0 1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"/><path d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164a5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982 4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31a3.155 3.155 0 0 1 0 6.31"/><circle cx="15.156" cy="4.858" r="1.237"/></g></svg>
        </a>
      </ul>
    </nav>
  </header>
  <main class="min-h-screen my-24">
    <slot />
  </main>
  <footer class="text-gray-100 backdrop-blur-xl bg-[#17171773] py-4 text-center">
    <p>&copy; 2025. Creado por <a href="https://github.com/AleSGXRD" class="hover:text-[#FF7D5C] transition-colors">AleXRD</a></p>
  </footer>
</body>
</html>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const header = document.querySelector('header');
  const scrollDiv = document.getElementById('scroll-div');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 250) {
      // Muestra el div adicional cuando el scroll supera 100px
      scrollDiv?.classList.remove('hidden');
    } else {
      // Oculta el div si el scroll está por debajo de 100px
      scrollDiv?.classList.add('hidden');
    }
  });
});
</script>

<style>
  /* Estilo para el div adicional */
  #scroll-div {
    display: none; /* Oculto por defecto */
  }

  #scroll-div:not(.hidden) {
    display: block; /* Visible cuando no tiene la clase 'hidden' */
  }

</style>