---
// src/layouts/BaseLayout.astro
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/animation.css">
  <link rel="icon" type="image/svg+xml" href="/icon.svg" />
</head>
<body class="text-gray-800 bg-[#171717]">
  <header class="top-0 left-0 right-0 fixed text-gray-100 flex backdrop-blur-xl bg-[#17171773] min-h-16 py-2 z-[999] transition-all">
    <nav class="container max-w-7xl mx-auto flex justify-between items-center px-4">
      <div class="">
        <div id="scroll-div" class="hidden">
          <div class="flex flex-row items-center gap-4 ">
            <img class="w-12 h-12 rounded-full shadow-sm" src="assets/profile.jpeg">
            <div class="flex flex-col justify-start">
              <div class="text-lg font-bold">AleXRD</div>
              <a class="text-sm font-light text-gray-400 hover:text-[#FF7D5C] transition-colors "target="_blank" href="mailto:alesgxrd@gmail.com">alesgxrd@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <ul class="flex space-x-4 ">
        <li><a href="#about" class="hover:text-[#FF7D5C] transition-colors">Sobre mí</a></li>
        <li><a href="#projects" class="hover:text-[#FF7D5C] transition-colors">Proyectos</a></li>
        <p>|</p>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://github.com/AleSGXRD">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 0a12 12 0 1 0 0 24a12 12 0 0 0 0-24m3.163 21.783h-.093a.5.5 0 0 1-.382-.14a.5.5 0 0 1-.14-.372v-1.406q.01-.701.01-1.416a3.7 3.7 0 0 0-.151-1.028a1.83 1.83 0 0 0-.542-.875a8 8 0 0 0 2.038-.471a4.05 4.05 0 0 0 1.466-.964c.407-.427.71-.943.885-1.506a6.8 6.8 0 0 0 .3-2.13a4.1 4.1 0 0 0-.26-1.476a3.9 3.9 0 0 0-.795-1.284a2.8 2.8 0 0 0 .162-.582q.05-.3.05-.604q0-.392-.09-.773a5 5 0 0 0-.221-.763a.3.3 0 0 0-.111-.02h-.11q-.346.004-.674.111a5 5 0 0 0-.703.26a7 7 0 0 0-.661.343q-.322.191-.573.362a9.6 9.6 0 0 0-5.143 0a14 14 0 0 0-.572-.362a6 6 0 0 0-.672-.342a4.5 4.5 0 0 0-.705-.261a2.2 2.2 0 0 0-.662-.111h-.11a.3.3 0 0 0-.11.02a6 6 0 0 0-.23.763q-.08.382-.081.773q0 .304.051.604t.16.582A3.9 3.9 0 0 0 5.702 10a4.1 4.1 0 0 0-.263 1.476a6.9 6.9 0 0 0 .292 2.12c.181.563.483 1.08.884 1.516c.415.422.915.75 1.466.964c.653.25 1.337.41 2.033.476a1.8 1.8 0 0 0-.452.633a3 3 0 0 0-.2.744a2.75 2.75 0 0 1-1.175.27a1.8 1.8 0 0 1-1.065-.3a2.9 2.9 0 0 1-.752-.824a3 3 0 0 0-.292-.382a2.7 2.7 0 0 0-.372-.343a1.8 1.8 0 0 0-.432-.24a1.2 1.2 0 0 0-.481-.101q-.06.002-.12.01a.7.7 0 0 0-.162.02a.4.4 0 0 0-.13.06a.12.12 0 0 0-.06.1a.33.33 0 0 0 .14.242q.14.111.232.171l.03.021q.2.155.382.333q.169.148.3.33q.136.178.231.381q.11.2.231.463c.188.474.522.875.954 1.145c.453.243.961.364 1.476.351q.262 0 .522-.03q.258-.041.515-.091v1.743a.5.5 0 0 1-.533.521h-.062a10.286 10.286 0 1 1 6.324 0z"/></svg>
        </a>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="mailto:alesgxrd@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-2 -5 24 24"><path fill="currentColor" d="m3.598 2l5.747 5.12a1 1 0 0 0 1.33 0L16.423 2zM18 3.273l-5.994 5.341a3 3 0 0 1-3.992 0L2 3.254V12h16zM2 0h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2"/></svg>
        </a>
        <a class="hover:text-[#FF7D5C] transition-colors" target="_blank" href="https://www.instagram.com/alesgxrd14/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-2 -2 24 24"><g fill="currentColor"><path d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0 5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0m3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0 1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"/><path d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164a5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982 4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31a3.155 3.155 0 0 1 0 6.31"/><circle cx="15.156" cy="4.858" r="1.237"/></g></svg>
        </a>
      </ul>
    </nav>
  </header>
  <main class="min-h-screen my-24">
    <slot />
  </main>
  <footer class="text-gray-100 backdrop-blur-xl bg-[#17171773] py-4 text-center">
    <p>&copy; 2025 <a href="https://github.com/AleSGXRD" class="hover:text-[#FF7D5C] transition-colors">AleXRD</a>. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const header = document.querySelector('header');
  const scrollDiv = document.getElementById('scroll-div');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 250) {
      // Muestra el div adicional cuando el scroll supera 100px
      scrollDiv?.classList.remove('hidden');
    } else {
      // Oculta el div si el scroll está por debajo de 100px
      scrollDiv?.classList.add('hidden');
    }
  });
});
</script>

<style>
  /* Estilo para el div adicional */
  #scroll-div {
    display: none; /* Oculto por defecto */
  }

  #scroll-div:not(.hidden) {
    display: block; /* Visible cuando no tiene la clase 'hidden' */
  }

  /* Clase 'hidden' para ocultar elementos */
  .hidden {
    display: none;
  }
</style>